---
export const prerender = false;
import BaseLayout from '../layouts/BaseLayout.astro';
import { getEntries } from '../components/EntriesFetch.astro';
import MovieCard from '../components/MovieCard.astro';

let yearsQuery = `{
	entries(section: "halloweenYears") {
		title
		slug
	}
}`;
const years = await getEntries(yearsQuery);

let moviesQuery = `{
  entries(section: "movies", rating: "5", orderBy: "RAND()", limit: 10) {
    ... on movie_Entry {
      id
      rating
      year
      title
      externalLink
      richText
      yearsWatched(status: ["disabled", "live"]) {
        title
        status
        slug
      }
      movieImage {
        ... on halloween_Asset {
          id
          alt
          focalPoint
          url
          title
          width
          height
        }
      }
    }
  }
}`;
const topTenMovies = await getEntries(moviesQuery);
---

<BaseLayout title="Halloween 🎃">
	<main class="container pb-3xl">
		<h1 class="type-full uppercase text-highlight -translate-x-[0.05em] leading-none" style="--scaler:15.9cqw;" transition:name="siteTitle">Halloween</h1>

		<ol class="flex flex-wrap gap-xs justify-between">
			{years.reverse().map((year) => <li><a href={'/year/' + year.slug} class="text-4xl leading-none transition-colors font-display hover:text-highlight focus-visible:text-highlight" transition:name={year.title}>{year.title}</a></li>)}
		</ol>

		<p class="text-xl leading-[1.2] mt-xl max-w-prose">I freaking love Halloween. This is a place for me to keep a little record of what my family and I (mostly I) did, watched, and listened to each Halloween.</p>

		<h2 class="text-3xl text-highlight mt-2xl leading-none mb-xl">All Time Favorites</h2>

		<div class="grid gap-xl">
			{ topTenMovies && (
				<section>
					<div class="flex justify-between items-end gap-2 pb-s">
						<h3 class="text-4xl font-display uppercase text-highlight leading-none">Movies</h3>
						<a href="/movie-index" class="text-lg leading-none underline underline-offset-4 hover:text-highlight focus-visible:text-highlight">Movie Index</a>
					</div>

					<ul class="grid gap-s md:grid-cols-2 xl:grid-cols-5">
						{topTenMovies.map((movie) => <MovieCard movie={movie} />)}
					</ul>
				</section>
			)}

			<section class="flex flex-col">
				<h3 class="text-4xl font-display uppercase text-highlight">Music</h3>
				<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/2YRiadmpeea27oT4GeXRZx?utm_source=generator&theme=0" width="100%" height="auto" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" class="min-h-[500px] grow"></iframe>
			</section>
		</div>
	</main>
</BaseLayout>