---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection, getEntry } from 'astro:content';
import Card from '../components/Card.astro';

const years = await getCollection('years');
---

<BaseLayout title="Halloween 🎃">
	<main class="container">
		<h1 class="type-full leading-[0.8em] uppercase text-highlight -translate-x-[0.05em]" style="--scaler:15.9cqw;" transition:name="siteTitle">Halloween</h1>

		<ol class="flex flex-wrap gap-6 justify-between ">
			{years.reverse().map((year) => <li><a href={year.slug} class="text-4xl font-display" transition:name={year.data.title}>{year.data.title}</a></li>)}
		</ol>

		<h2 class="text-4xl text-highlight">All Time Favorites</h2>

		<div class="grid gap-xl lg:grid-cols-2">
			<section>
				<h3 class="text-4xl font-display uppercase text-highlight">Music</h3>
				<div class="max-w-prose">
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/2YRiadmpeea27oT4GeXRZx?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
				</div>
			</section>
			
			<section>
				<h3 class="text-4xl font-display uppercase text-highlight">Movies</h3>
				<div class="prose">
					<ul>
						<li>Halloween 1969</li>
						<li>Hellraiser</li>
						<li>Susperia</li>
						<li>Silence of The Lambs</li>
						<li></li>
					</ul>
				</div>
			</section>
		</div>
	</main>
</BaseLayout>