---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Halloween 🎃">
	<main class="container">
		<h1 class="type-full uppercase text-highlight" style="--scaler:14.6vw;">Halloween</h1>
	</main>
</Layout>

<style>

</style>
