---
import Image from '../components/CloudImage.astro';
import SpookyLink from '../components/SpookyLink.astro';

interface Props {
	movie: object;
}


const { movie } = Astro.props;
---

<li class="@container rounded bg-highlight text-secondary p-s">
  <div class="grid @[400px]:grid-cols-2 gap-s lg:@[400px]:h-full">
    { movie.poster && (
      <Image
      url={movie.poster}
      width="600"
      height="600"
      zoomable={false}
      effects='e_grayscale/e_brightness:15/e_contrast:level_-100,e_tint:100:140C10:E2703A/'
      containerClasses="aspect-square lg:@[400px]:aspect-auto lg:@[400px]:min-h-[50cqw]"
      imgClasses="object-cover h-full"
      />
    )}
    <div>
      <h2 class="text-xl leading-none">
        <SpookyLink href={ movie.url } text={ movie.title } />
      </h2>
      <div class="text-sm tracking-wide">{ movie.year }</div>
      <div class="text-base">{ movie.rating }</div>
    </div>
  </div>
</li>