---
import { ViewTransitions } from 'astro:transitions';

import "../styles/app.scss";
import "../styles/fonts.css";

interface Props {
	title: string;
	bodyClass: string;
}

const { title, bodyClass } = Astro.props;
const bodyClasses = bodyClass + ' py-m';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class={bodyClasses}>
		<slot />
	</body>
</html>
<script>
	import "lazysizes";
</script>