---
import BaseLayout from './BaseLayout.astro'
const {frontmatter} = Astro.props;
---
<BaseLayout url={frontmatter.url}>
  <div class="container">
    <header class="mb-3xl">
      <a href="/" class="text-highlight relative z-10">Back</a>
      <h1 class="type-full leading-[0.8em] inline-flex gap-x-[0.2em]" style="--scaler:11.5vw;">
        <span class="uppercase text-highlight" transition:name="siteTitle">Halloween</span>
        <span class="font-display text-primary" transition:name={frontmatter.title}>{frontmatter.title}</span>
      </h1>
    </header>
    <div class="prose">
      <slot />
    </div>
    </div>
</BaseLayout>