// Global Styles

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  padding: 0.5rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: theme('colors.primary');
}

body {
  min-height: calc(100vh - 1rem);
  color: theme('colors.primary');
  background-color: theme('colors.secondary');
  border-radius: theme('borderRadius.DEFAULT');
}

::selection {
  background-color: theme('colors.highlight');
  color: theme('colors.primary');
}

*:focus-visible {
  outline-offset: 0.25rem;
}

.container {
  container: container / inline-size;
  margin-inline: auto;
  max-width: 92rem;
  padding-inline: theme('spacing.s');

  @screen lg {
    padding-inline: theme('spacing.m');
  }
}

// SVGs
svg {
  display: block;
}

img {
  max-width: 100%;
}

#canvas-noise {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 10000;
  position: fixed;
  pointer-events: none;
}

img.lazyload:not([src]) {
  visibility: hidden;
}

.masonry {
  opacity: 0;
  transition: opacity 0.5s;
  &.-loaded {
    opacity: 1;
  }

  .grid-sizer,
  .grid-item {
    width: 100%;
  }

  @screen md {
    .grid-sizer,
    .grid-item {
      width: calc(50% - (var(--space-s) / 2));
    }
    .gutter-sizer {
      width: var(--space-s);
    }
  }

  @screen lg {
    width: calc(100% + var(--space-m));

    .grid-sizer,
    .grid-item {
      width: calc(33.3333% - (var(--space-m)));
    }
    .gutter-sizer {
      width: var(--space-m);
    }
  }
}
