// Global Styles

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  padding: 0.5rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: theme('colors.primary');
}

body {
  min-height: calc(100vh - 1rem);
  color: theme('colors.primary');
  background-color: theme('colors.secondary');
  border-radius: theme('borderRadius.DEFAULT');
}

.container {
  container: container / inline-size;
  margin-inline: auto;
  max-width: 92rem;
  padding-inline: theme('spacing.s');

  @screen lg {
    padding-inline: theme('spacing.m');
  }
}

// SVGs
svg {
  display: block;
}

img {
  max-width: 100%;
}

a {
  position: relative;
  display: inline-block;
  &::after {
    opacity: 0;
    content: '🎃';
    font-size: 0.65em;
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    padding-inline-start: 0.25em;
  }

  &:hover,
  &:focus-visible {
    color: theme('colors.highlight');
    &::after {
      opacity: 1;
    }
  }
}

img.lazyload:not([src]) {
  visibility: hidden;
}
